.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 20px;
}

.social {
    height: 30px;
}

.links {
    color: white;
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
    
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 2px solid;
}

.profile-pic {
    width: 40%;
    padding-top: 10px;
}

.about-me-container {
    display: flex;
    align-items: center;
    background-color: grey;
}

.about-me-content {
    text-align: left;
    padding-left: 50px;
    font-size: 1rem;
    margin-bottom: 150px;
    border: 5px solid;
}

span {
    font-style: italic;
}