<%- include("partials/header") %>

<div class="container">
  <form action="/submit" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        required
        name="full_name"
        type="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Full Name"
      >
      <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
      </small>
    </div>

    <div>
      <label for="exampleFormControlTextarea1">Write Blog</label>
      <textarea
        required
        name="blog"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="8"
        placeholder="To be or not be. That is the question......"
      ></textarea>
      <br>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
