<%- include("partials/header.ejs") %>

<html>
  <body>
    <div class="position-relative p-5 text-center text-muted bg-body">
      <svg class="bi mt-5 mb-3" width="48" height="48" aria-hidden="true"><use xlink:href="#check2-circle"></use></svg>
      <h1 class="text-body-emphasis">Create A Blog!</h1>
      <p class="col-lg-6 mx-auto mb-4">
        We’d love to hear from you! Take a moment to write a short blog entry about your thoughts, experiences, or anything on your mind today.
      </p>
      <button class="btn btn-primary px-5 mb-5" type="submit" onclick="window.location.href='/create'" >
        Start Now
      </button>
    </div>
  </body>
</html>

<%- include("partials/footer.ejs") %>